<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd"> 
						
	<!-- Shiro的过滤器工程Bean：间接的加载9个内置过滤器 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">		
		<!-- 安全管理器：Shiro的核心组件 -->
		<property name="securityManager" ref="securityManager" />
		<!-- 认证相关：指定登录页面，当用户未登录时访问资源，则自动跳转到此页面 -->		
		<property name="loginUrl" value="/login.html" /> 
		<!-- 授权相关：指定错误页面，当用户登陆后访问没有权限资源，自动跳转此页面 -->
		<property name="unauthorizedUrl" value="/error.html" /> 
		<!-- 登录成功后跳转的页面 -->
		<!-- 前端已经进行了页面跳转  不需要shiro来做跳转了 -->
		<!-- <property name="successUrl" value="/index.html"></property> -->
		<!-- 用自定义过滤器替换默认perms的过滤规则 -->
		<!-- <property name="filters">
			<map>
				<entry key="perms" value-ref="myFilter" />
			</map>
		</property> -->

		<!-- 过滤器链定义：指定页面的访问规则 -->
		<property name="filterChainDefinitions">
			<value>
				<!-- 测试perms 系统中没有这个权限 -->
				<!-- /dep/** = perms["testPerms"] -->
				<!-- /dep/**=perms["testPerms"] -->
				<!-- 前端资源权限end -->
				/error.html = anon
				/adminjs/** = anon
				/css/** = anon
				/images/** =anon
				/js/** =anon
				/ui/** = anon
				<!-- 前端资源权限end -->
				<!-- 登录接口放开 -->
				/sso/login/* = anon
				<!-- 第二组过滤器需要经过第一组的过滤器之后才会起作用 -->
				/dep/**=perms["testPerms"]
				<!-- 余下所有页面都需要登录访问 -->
				<!-- 明明配置了拦截.html但是首頁还是能直接访问  需要再单独配置遍，不知道为什么 -->
				<!-- /index.html = authc -->
				/*.html = authc
				/* = authc
				<!-- 余下的所有接口都要认证只有才能访问 -->
				/** = authc
			</value>
		</property>
	</bean>
	
	<!-- Shiro的安全管理器 是shiro的大脑-->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="myRealm"></property>
	</bean>
	<bean id="myRealm" class="com.hanilucky.shiro.MyRealm"/>
	
</beans>