<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ERP.mapper.RoleMapper">
    <resultMap id="MenuResult" type="com.example.ERP.vo.Menu">
        <result column="MENUID" property="menuid"></result>
        <result column="MENUNAME" property="menuname"></result>
        <result column="ICON" property="icon"></result>
        <result column="URL" property="url"></result>
        <result column="PID" property="pid"></result>
    </resultMap>
    
    <resultMap id="RoleResult" type="com.example.ERP.vo.Role">
        <result property="uuid" column="UUID"></result>
        <result property="name" column="NAME"></result>
    </resultMap>

    <select id="selectRoleMeunByRoleId" parameterType="java.lang.String" resultMap="MenuResult">
        SELECT
            T3.MENUID AS MENUID,
            T3.MENUNAME AS MENUNAME,
            T3.ICON AS ICON,
            T3.URL AS URL,
            T3.PID AS PID
        FROM
            ROLE T1,
            ROLE_MENU T2,
            MENU T3
        WHERE
            T1.UUID = T2.ROLEUUID
        AND T2.MENUUUID = T3.MENUID
        AND T1.UUID = #{id}
    </select>
    
    <select id="selectEmpRoleByEmpId" parameterType="java.lang.String" resultMap="RoleResult">
        SELECT
            T3.UUID AS UUID,
            T3.NAME AS NAME
        FROM
            EMP T1,
            EMP_ROLE T2,
            ROLE T3
        WHERE
            T1.UUID = T2.EMPUUID
        AND T2.ROLEUUID = T3.UUID
        AND T1.UUID = #{id}
    </select>
</mapper>